@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to right, #ff00cc, #3333ff);
  color: #FFF;
  height: 100px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


img{
  background-image: url(Delicious.png);
  width: 97%;
  height: 600px;
  margin: 10px;
}

@media (max-width: 700px) {
.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background: linear-gradient(to right, #ff00cc, #3333ff);
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
}


.fundo-degrade {
  background: linear-gradient(to right, #ff00cc, #3333ff); /* Mudar cores conforme necessário */
  padding: 20px;
  color: white;
  border-radius: 10px;
  
}

.paragrafo{
  text-align: center;
  text-justify: center;
  justify-items: center;
}

.container {
  display: block;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  margin: 20px;
}
a{
  text-decoration: none;
  color: #fff;
}

/* Estilo para tornar a seção responsiva */
@media only screen and (max-width: 600px) {
  .fundo-degrade {
      padding: 10px;
      margin: 10px;
  }
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
  }

  .card {
    flex: 0 1 calc(30% - 20px);
    background: linear-gradient(to right, #ff00cc, #3333ff);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    
    
  }

  @media screen and (max-width: 768px) {
    .card {
      flex: 0 1 calc(45% - 20px);
    }
  }

  @media screen and (max-width: 576px) {
    .card {
      flex: 0 1 calc(100% - 20px);
    }
  }



   /* Estilos para centralizar a iframe */
   .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Definir altura da seção para ocupar toda a altura da tela */
  }

  /* Estilos para tornar a iframe responsiva */
  iframe {
    margin-bottom: 350px;
    max-width: 100%;
    max-height: 100%;
  }

  /* Estilos para centralizar o conteúdo */
  .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da tela */
    margin-top: -400px;
  }

  .iframe-wrapper {
    max-width: 95%; /* Define a largura máxima do iframe */
    max-height: 90%; /* Define a altura máxima do iframe */
  }

  .iframe2 {
    width: 100%; /* Ocupa 100% da largura do contêiner */
    height: 100%; /* Ocupa 100% da altura do contêiner */
  }


.form{
  margin-top: -100px;
}
.container4 {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to right, #ff00cc, #3333ff);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group textarea {
  height: 150px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Estilos para o link de âncora */
.anchor-link {
  display: block;
  text-align: center;
  color: #9c219c;
  text-decoration: none;
  margin-top: 20px;
}

.anchor-link:hover {
  color: #63204982;
}

.footer {
  background: linear-gradient(to right, #ff00cc, #3333ff);
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footer .social {
  margin-top: 10px;
}

.footer .social a {
  display: inline-block;
  margin: 0 10px;
  color: #007bff;
  font-size: 20px;
}

@media (max-width: 768px) {
  .footer .social a {
    font-size: 16px;
  }
}